@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');



body {
    font-family: 'Poppins',sans-serif;
    color: #333;
    font-weight: 500;
}

h1 {
    font-size: 35px !important;
    font-weight: 700 !important;
    line-height: 35px !important;
}

h2 {
    font-size: 25px !important;
    font-weight: 600 !important;
    line-height: 25px !important;
}

h3 {
    font-size: 17px !important;
    font-weight: 600 !important; 
    line-height: 20px !important;
}

h4 {
    font-size: 15px !important;
    font-weight: 600 !important;
    line-height: 15px !important;
}

h5 {
   font-size: 15px !important;
   font-weight: 500 !important; 
}
.columns-block {
    display: flex;
    flex-wrap: wrap;
}

.left-column-block {
    width: 50%;
    position: fixed;
    overflow: hidden;
    text-align: center;
    left: 0;
}

.right-column-block {
    width: 50%;
    position: absolute;
    right: 0;
}


.header {
    height: 100vh;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    position: relative;
}

.header .content {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    padding: 10%;
    z-index: 1;
}

.header .content h1 {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 10px;
}

.header .content p {
    color: #ffffff;
    font-size: 20px;
}

.header .content .social-icons {
    display: block;
    padding: 0;
    margin: 0;
}

.header .content .social-icons li {
    display: inline-block;
    margin: 0 4px;
}

.header .content .social-icons li a {
    color: #ffffff;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 35px;
    border: 2px solid #777;
    border-radius: 50%;
    font-size: 20px;
}

.header .profile-image {
   
    background-image: url(../images/sachin.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.header .profile-image:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(160deg,transparent 20%, rgb(145, 68, 68));
}

.header .content .social-icons li a:hover {
    border-color: #ffffff;
}

.section-wrapper {
    padding: 35px;
}

.section-title {
    margin-bottom: 20px;
}

.section-title h2 {
    color: #444;
}

.expertise-item {
    margin-bottom: 30px;
}

.expertise-item h3 {
    color: #333;
    margin-bottom: 5px;
}

.grey-bg {
    background-color: #F9F9F9;
}

.form-control {
   padding: 15px;
   font-size: 15px;
   border-radius: 0 !important;
   margin-bottom: 15px;
}

.btn {
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 0 !important;
    background-color: #1C1EE6 !important;
}

.footer{
    padding: 30px 30px;
}

.footer .footer-section {
    font-size: 14px;
    color: #888;
}

.map {
    width: 400px !important;
    height: 270px !important;
}


@media (max-width: 600px){
    .left-column-block {
        width: 100%;
        position: relative;
    }

    .right-column-block {
        width: 100%;
        position: relative;
    }

    .map {
        width: 200px !important;
    }
}